.q-table{
  &__bottom i{
    font-size: 24px;
  }
}

.load-msg-span i{
  font-size: 24px;
}

// *** pm-table--offer ***
.pm-table__offers{
  background: transparent;
  box-shadow: none;
}

.pm-table__offers .q-table {
  border-spacing: 0px 18px;
}

.pm-table__offers tr {
  background: #1E1B2E;
}

.pm-table__offers .q-table th:first-child,
.pm-table__offers .q-table td:first-child {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.pm-table__offers .q-table th:last-child,
.pm-table__offers .q-table td:last-child {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.pm-table__offers .q-table td:nth-child(2){
  font-weight: 800;
  font-size: 14px;
  color: #4e4d55;
}

.pm-table__offers .q-table td{
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.pm-table__offers i {
  font-size: 17px;
}

.pm-table__offers .q-checkbox__inner--falsy i {
  color: rgba(249, 0, 66, 0.42);
}

.pm-table__offers .q-checkbox__inner--truthy i {
  color: #F90042;
}

.pm-table__offers .q-table tbody tr:hover td{
  background: #312e43;
  color: rgba(255, 255, 255, 0.7);
}

.pm-table__offers th .q-checkbox{
  display: none;
}

.pm-table__offers thead th {
  font-weight: 600;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.pm-table__offers{
  .cell {
    &__logo{
      width: 58px;
      height: 58px;
      border-radius: 50px;
    }
    &__content-offer{
          align-items: center;
          justify-content: center;
          max-width: 192px;
          width: 100%;
          gap: 22px;
          display: flex;
          margin: auto;
    }
  }
}

// *** pm-table ***

.pm-table .q-field__inner{
  span {
    color: #8C8B8E;
  }
  .q-icon{
    color: #8C8B8E;
  }
}


.pm-table .q-table tbody .pm-table__bottom-row td {
  height: 33px !important;
}

.pm-table .q-table thead, .q-table tr, .q-table th, .q-table td {
  border-bottom: 1px solid  #100E19;
}

.pm-table .q-table > tbody tr:hover{
  background: #3D3A54;
}

.pm-table .q-table > tbody tr.pm-table__bottom-row:hover{
  background: #100E19;
}

.pm-table.q-table__card{
  border-radius: 0px;
  box-shadow: none;
}

.pm-table{
  background: transparent;
  color: #8C8B8E;
  & thead td {
    color: #fff;
  }
  &__wrapper-cust-bottom{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0px 8px;
    width: 100%;
    flex-wrap: wrap;
    > div {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
  &__td-header-content{
    display: flex;
    align-items: center;
    gap: 5px;

    i {
      cursor: pointer;
    }
  }
  &__bottom-pagination{
    display: flex;
    gap: 5px;
    button > i {
      color: #8C8B8E;
    }
  }
  & tr  td:first-child{
    color: #fff;
  }
  &__grey-head thead tr{
    position: relative;
    z-index: 0;
    &:after{
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 31px;
      width: 100%;
      background: #242136;
      z-index: -1;
    }
  }
  &__thead-row{
    position: relative;
    z-index: 0;
    & th{
      font-weight: 500;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  &__bottom-row{
    background: #100E19;
    color: #fff;
    font-weight: 500;
    font-size: 12px;

    & td {
      padding: 0;
    }
    & td:first-child{
        padding-left: 20px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    & td:last-child{
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
  }

  .justify-right{
    justify-content: right;
  }
  .justify-left{
    justify-content: left;
  }
}
